---
import { Image } from "astro:assets";
import Modal from "./modal.astro";
import { createHash } from "crypto";
import type { Session, Speaker } from "~/types";
const { item } = Astro.props;
---

<Modal
  id={"id" + createHash("md5").update(item.title).digest("hex")}
  open={item.title}
  buttonClass="text-secondary text-wrap ml-4 xl:ml-0 xl:text-nowrap text-left text-xl xl:py-4"
>
  <main slot="main">
    <div
      class="m-4 max-h-[80vh] max-w-[1024px] space-y-4 overflow-y-auto bg-default text-default"
    >
      <p class="text-lg">{item.title}</p>

      {
        item.description && (
          <>
            <h4>セッション詳細</h4>
            <hr />
            <div
              class="text-sm"
              set:html={(item as Session).description?.replaceAll("\n", "<br>")}
            />
          </>
        )
      }
      <h4>登壇者紹介</h4>
      <hr />
      {
        item.speakers.map((speaker: Speaker) => (
          <div class="flex gap-4">
            <Image
              src={speaker.image as ImageMetadata}
              class="size-16 rounded-full"
              alt={speaker.name}
            />
            <div>
              <p class="font-bold">{speaker.name}</p>
              <p class="text-xs" set:html={speaker.description} />
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Modal>
