---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

export interface Props {
  supporter: CollectionEntry<"supporter">;
}

const { supporter } = Astro.props;

---

<a class="group hover:!text-default" href={supporter.data.url} target="_blank">
  <figure class="relative h-full w-full overflow-hidden text-center">
    <Image
      class="w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20 rounded-full"
      src={supporter.data.image}
      width="150"
      alt={`A logo of ${supporter.data.url}`}
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
        <Icon name="mdi:open-in-new" class="size-1/2">
      </div>
    </figcaption>
    <span>{supporter.data.name}</span>
  </figure>
</a>
<span class="text-sm col-span-2">{supporter.data.description}</span>
